@model  YstTerm.Models.PodborAutoView
@using Term.Web.Views.Resources;

@{
    ViewBag.Title = SearchByAuto.SearchByVehicle;
    object displayModeModel = null;
    if (Model.model == null)
    { displayModeModel = new { @class = "form-control", @disabled = "disabled" }; }
    else
    { displayModeModel = new { @class = "form-control" }; }

    object displayYearModel = null;

    if (Model.year == 0)
    { displayYearModel = new { @class = "form-control", @disabled = "disabled" }; }
    else
    { displayYearModel = new { @class = "form-control" }; }


    object displayEngineModel = null;

    if (Model.engine == null)
    { displayEngineModel = new { @class = "form-control", @disabled = "disabled" }; }
    else
    { displayEngineModel = new { @class = "form-control" }; }

    //displayModeModel = new { @class = "form-control"};


    // object displayModeYear = (Model.year) ? null : new { disabled = "disabled" };
}


@Html.Partial("_BreadCrumbs", new BreadcrumbModel { CurrentActionName = @Header.ByAuto })

<div class="row border-form-podbor">
    <img class="podbor-tyres-title-img" src="~/Content/img/img-auto-podbor.png" /> <span class="podbor-tyres-title">@SearchByAuto.SearchByVehicle</span>
</div>

<div>
    <div class="row border-form-podbor">
        <div class="col-xs-12">

            <div class="row">
                <br />
                <div class="col-xs-12">
                    <span class="podbor-tyres-param">@ForSearchResult.CarParam</span>
                </div>
            </div>

            @using (Html.BeginForm("PodborAuto", "Home", null, FormMethod.Get, new { id = "podborauto" }))
            {

                <div class="row">
                    <br />
                    <div class="col-xs-6 col-sm-3">
                        @Html.DropDownListFor(p => p.brand, new SelectList(Model.Brands), @SearchByAuto.Brand, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        @Html.DropDownListFor(p => p.model, new SelectList(Model.Models), @SearchByAuto.Model, displayModeModel)
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        @Html.DropDownListFor(p => p.year, new SelectList(Model.Years), @SearchByAuto.YearOfIssue, displayYearModel)
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        @Html.DropDownListFor(p => p.engine, new SelectList(Model.Engines), @SearchByAuto.Modification, displayEngineModel)
                    </div>
                </div>
                <br />
            }
        </div>

    </div>
    @if (Model.MaxLength == 0)
    {
        <div id="view_tab" class="container">
            <div class="row text-center">
                @if (!Model.IsForeign)
                {
                    <img src="~/Content/img/car_text.png" class="img-responsive">
                }
                else
                {
                    <img src="~/Content/img/car_text_en.png" class="img-responsive">
                }
            </div>
        </div>
    }

</div>

@{
        if (@ViewBag.Bolts != null)
        {
            <span class="bolts_size"><a href="@ViewBag.BoltsUrl">@ViewBag.Bolts</a></span>
        }
    }

<!-- типоразмеры -->
<div id="podborautoresult" class="m-t-15 b-podborauto-tiporazmers">


    @if (Model.MaxLength > 0)
    {
        <span class="podbor-tyres-title">@ForSearchResult.SearchResult</span>
        <table id="podborauto" class="data-table data-table-auto">
            <thead>
                <tr>
                    <th class="podbor-auto-table-th" colspan="4">
                        <img class="podbor-tyres-title-img" src="~/Content/img/img-tyres-podbor.png" /> <span class="podbor-tyres-title">@Header.Tyres</span>
                    </th>
                    <th class="podbor-auto-table-th" colspan="4">
                        <img class="podbor-tyres-title-img" src="~/Content/img/img-disks-podbor.png" /> <span class="podbor-tyres-title">@Header.Wheels</span>
                    </th>
                </tr>
                <tr>
                    <th> @SearchByAuto.Type </th>
                    <th> @SearchByAuto.Front_Axle </th>
                    <th></th>
                    <th> @SearchByAuto.Rear_Axle </th>
                    <th> @SearchByAuto.Type </th>
                    <th> @SearchByAuto.Front_Axle </th>
                    <th></th>
                    <th> @SearchByAuto.Rear_Axle </th>
                </tr>
            </thead>
            @for (int counter = 0; counter < Model.MaxLength; counter++)
            {
                var tyreRecord = Model.TyreTiporazmersResults.Count > counter ? Model.TyreTiporazmersResults[counter] : null;
                var diskRecord = Model.DiskTiporazmersResults.Count > counter ? Model.DiskTiporazmersResults[counter] : null;

            <tr>
                @if (tyreRecord == null)
    {
            <td colspan="4"></td>
}
else
{
            <td> @tyreRecord.Prop1</td>
            <td> @Html.Raw(tyreRecord.HRef)</td>
            <td> @Html.Raw(tyreRecord.Spark)</td>
            <td> @Html.Raw(tyreRecord.HRefRear)</td>
}
                @if (diskRecord == null)
    {
            <td colspan="4"></td>
}
else
{
            <td> @diskRecord.Prop1</td>
            <td> @Html.Raw(diskRecord.HRef)</td>
            <td> @Html.Raw(diskRecord.Spark)</td>
            <td> @Html.Raw(diskRecord.HRefRear)</td>
}


              
            </tr>

            }

        </table>
    }
</div>

@* podborbyauto-sortBlock*@
<div id="podborbyauto-sortAndFilterBlock" class="row invisible">
    <div class="col-xs-12 col-sm-7 m-t-15">
        <div id="podborbyauto-sortBlock" class="row">
            <span class="radio-label-span">@ForSearchResult.SortBy:&nbsp;&nbsp;&nbsp;</span>

            <div class="btn btn-default sort-btn-style" aria-label="Left Align">
                <a name="sortBtn" data-sort="nameasc" data-destination="#sortName" class="sort-btn-a sort-active js-sortPodborResults-link" href="#">@ForSearchResult.Name</a>
                <span id="sortName" name="sortIcon" class="js-sortIcon sort-icon-default"> </span>
            </div>
            <div class="btn btn-default sort-btn-style" aria-label="Left Align">
                <a name="sortBtn" data-sort="deliveryasc" data-destination="#sortDelivery" class="sort-btn-a js-sortPodborResults-link" href="#">@ForSearchResult.DeliveryTime</a>
                <span id="sortDelivery" name="sortIcon" class="js-sortIcon sort-icon-default"> </span>

            </div>
            <div class="btn btn-default sort-btn-style" aria-label="Left Align">
                <a name="sortBtn" data-sort="amountasc" data-destination="#sortAmount" class="sort-btn-a js-sortPodborResults-link" href="#">@ForSearchResult.Amount</a>
                <span id="sortAmount" name="sortIcon" class="js-sortIcon sort-icon-default"> </span>

            </div>
            <div class="btn btn-default sort-btn-style" aria-label="Left Align">
                <a name="sortBtn" data-sort="priceasc" data-destination="#sortPrice" class="sort-btn-a js-sortPodborResults-link" href="#">@ForSearchResult.Price</a>
                <span id="sortPrice" name="sortIcon" class="js-sortIcon sort-icon-default"> </span>
            </div>
            <div class="btn btn-default sort-btn-style ForSortSale @Model.SaleMode" aria-label="Left Align">
                <a id="sort-sale" class="sort-btn-a" href="#">@ForSearchResult.Sale</a>
            </div>
            <div class="hidden-xs"> <input type="hidden" id="sortBy" value="nameasc"/></div>
        </div>
        <div id="Seasons" class="btn-group" style="padding-top: 10px;padding-left: 119px;">
            <button type="button" class="btn btn-default js-seasonchange" name="winter">
                <img src="/Content/img/season_winter.png" style="width: 16px;">
            </button>
            <button type="button" class="btn btn-default js-seasonchange" name="summer">
                <img src="/Content/img/season_summer.png" style="width: 18px;">
            </button>
            <button type="button" class="btn btn-default js-seasonchange" name="allseason">
                <img src="/Content/img/season_all.png" style="width: 19px;">
            </button>
            <button type="button" class="btn btn-default js-seasonchange" name="all">Все</button>
        </div>
    </div>
    <div id="podborbyauto-filterBlock" class="col-xs-12 col-sm-5  m-t-15">

        <!--  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ForSortSale"> -->
        <div class="form-group">
            <input id="exact-size" type="checkbox" name="exact-size" value="false" class="checkbox-auto originals_param js-podborbyauto-reload">
            <label class="checkbox-auto-label" for="exact-size"><span class="original-param">@SearchByAuto.OriginalParams</span></label>
        </div>
        <div class="form-group">
            <input id="FromRests" type="checkbox" name="FromRests" value="false" class="checkbox-auto js-podborbyauto-reload" checked>
            <label class="checkbox-auto-label" for="FromRests"><span class="original-param">@ForSearchResult.FromStock</span></label>
        </div>
        <div class="form-group">
            <input id="FromOnWay" type="checkbox" name="FromOnWay" value="false" class="checkbox-auto js-podborbyauto-reload">
            <label class="checkbox-auto-label" for="FromOnWay"><span class="original-param">@ForSearchResult.FromOnWay</span></label>
        </div>
        <div class="form-group">
            <input id="complect" type="checkbox" name="complect" value="false" class="checkbox-auto js-podborbyauto-reload originals_param">
            <label class="checkbox-auto-label" for="complect"><span class="original-param">@ForSearchResult.IsSet4Items</span></label>
            </div>
        </div>
       
    </div>


<div id="podborbytiporazmer-results" class="podborbyauto-results-container"></div>

@section Scripts {

    <script src="~/Scripts/term-season-scripts.js"></script>
    <script>

            /*
                $(function () {
                    $(document).ready(function () {
                        console.log(localStorage['selectedlink']);
                        if (localStorage.getItem("selectedlink") != null) {
                            $("a[href^='" + localStorage['selectedlink'] + "']").trigger('click');
                        }

                    });
                });
                */
    </script>

}
