@using Yst.Utils;
@using Term.Web.Views.Resources;
@using Term.DAL;
@model SeasonCartViewModel
@{
    ViewBag.Title = @CartAndOrders.SeasonCart;

    ViewBag.Title += Model.CartCount == 0 ? " empty" : String.Format(" ({0})", Model.CartCount);
}


<h2>@ViewBag.Title</h2>

@if (Model.CartCount == 0) { return; }

@{bool showFirst=true;}
@if (Model.IsForeign)
{
    @Html.Partial("_CartFieldsForeign")
}
else
{
    @Html.Partial("_CartFieldsRussian")
}


@if (Model.IsForeign) 
{ 
<div class="row">
    <div class="btn-group sort_row" role="group">
        <div class="btn btn-default active">
            @Html.ActionLink(" ", "Index", new
        {
            Display = DisplaySeasonCart.Plain
        }, new { @class = "glyphicon glyphicon-th-list fs15px", title = "plain" })
        </div>
        <div class="btn btn-default active">
            @Html.ActionLink(" ", "Index", new
        {
            Display = DisplaySeasonCart.GroupedByFactory
        }, new { @class = "glyphicon glyphicon-th fs15px", title = "plain" })
        </div>
    </div>
</div>
}
@if (Model.ItemsByWheelType.Count>1)
{<ul class="nav nav-tabs yst-wheeltypes">
        @foreach (var ItembyWheelType in Model.ItemsByWheelType)
        {
            <li class="@(showFirst?"active":"")"><a data-toggle="tab" data-id="@ItembyWheelType.Key" href="#menu@(ItembyWheelType.Key)">@ItembyWheelType.Key <span class="badge">@Model.ItemsByWheelType[ItembyWheelType.Key].Count()</span></a></li>
            showFirst = false;
        }
    </ul>}
   
<div class="tab-content">
    @{ showFirst=true;}
        @foreach (var ItembyWheelType in Model.ItemsByWheelType)
        {
            <div id="menu@(ItembyWheelType.Key)" class="tab-pane @(showFirst?"active":"fade")">
                <table class=" season-cart table table-bordered table-striped marg_top15">
                    <thead class="thead_styles">
                        <tr class="bg_grey">
                            <th>
                                №
                            </th>
                            <th> @CartAndOrders.Cart_Picture </th>
                            <th> @CartAndOrders.Cart_Code </th>

                            <th>
                                @CartAndOrders.Cart_Name
                            </th>
                            <th style="width:125px;">
                                @CartAndOrders.Cart_Amount
                            </th>
                            <th>
                                @CartAndOrders.Cart_Price
                            </th>
                            <th>
                                @CartAndOrders.Cart_Totals
                            </th>
                            <th>

                            </th>

                        </tr>
                    </thead>
                    
                    @{int counter = 0; showFirst = false;}
                    @foreach (var item in Model.ItemsByWheelType[ItembyWheelType.Key])
                    {
                        int numbertoorder = 4;
                        if (Model.IsForeign)
                        { numbertoorder = ItembyWheelType.Key == WheelType.Alloy ? 60 : 200; }
                        
                        counter++;
                        <tr data-id="@item.Product.ProductId">
                            <td class="number_pp text-center">@counter</td>
                            <td class="text-center">
                                <img class="min_img" src="@Html.Thumbnail(@item.Product)" />

                            </td>
                            <td>
                                @(item.Product)
                            </td>
                            <td>
                                @Html.ActionLink(item.Product.Name, "Details", "Home", new { id = item.ProductId }, null)
                                
                            </td>
                            <td id="item-count-@item.ProductId">
                                @Html.TextBox("count-" + @item.ProductId, @item.Count, new { @id = "item-count-product-" + @item.ProductId, @class = "count count_add_to_seasoncart form-control change_in_seasoncart touchspih-podbor-number", @type = "text", @min = 1, @max = 200 })

                            </td>
                            <td class="item-price text-right">
                                @*item.Price.ToString("c")*@
                                @Html.Price3(item.Price)
                            </td>
                            <td class="item-sum text-right">

                                @*((item.Count * item.Price).ToString("c"))*@
                                @Html.Price3(item.Count*item.Price)
                            </td>
                            <td class="text-center">
                                <a href="javascript:RemoveFromSeasonCart(@item.ProductId)" class="removefromseasoncart" data-id="@item.Product.ProductId"><span class="glyphicon glyphicon-remove btn-lg" aria-hidden="true"></span></a>
                            </td>
                        </tr>

                    }
                    
                </table>
            </div>
        }
</div>

<div class="row season-cart totals">
    <div class="col-sm-offset-4 col-sm-2">
        <span class="cart_sum">@*CartAndOrders.Weight:*@</span><br>
        <span id="cart-weight" class="cart_sum">@*Model.CartWeight*@ @*CartAndOrders.Kg*@</span><span class="cart_sum"> </span>
    </div>
    <div class="col-sm-2">
        <span class="cart_sum">@*CartAndOrders.Volume:*@</span><br>
        <span id="cart-volume" class="cart_sum">@*Model.CartVolume*@ @*CartAndOrders.CubicMeters*@</span><span class="cart_sum"> </span>
    </div>
    <div class="col-sm-2">
        <span class="cart_sum">@CartAndOrders.TotalSum:</span><br>
        <span id="cart-total" class="cart_sum_price"><span></span>@Model.CartTotal.ToString("c")</span><span></span>
    </div>
    <div class="col-sm-2">
        <span class="cart_sum">@CartAndOrders.Total:</span><br>
        <span id="cart-count" class="cart_sum">@Model.CartCount </span><span class="cart_sum"> pc.</span>
    </div>

</div>

@section Scripts
{
@Scripts.Render("~/bundles/term_seasonscripts")

}