@using Term.Web.Views.Resources
@using Yst.Utils;
@model IEnumerable<Yst.ViewModels.OrderViewWithDetails>
@using Term.DAL;
@using Term.Web.HtmlHelpers;

@{
    string lang = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

@{
    ViewBag.Title = CartAndOrders.CompleteOrder;
    SeasonOrder seasonOrder = ViewBag.SeasonOrder;
    
}

<div class="row">
    <span class="cart-main-header">@CartAndOrders.CompleteOrder</span>
</div>
@Html.Partial("_BreadCrumbs", new BreadcrumbModel { CurrentActionName = @Header.Cart })

@foreach (Yst.ViewModels.OrderViewWithDetails order in Model)
{
    // по умолчанию показывать DPD иначе число дней из подразделения
    string daysToShow =String.IsNullOrEmpty(order.OrderData.RangeDeliveryDays)? order.OrderData.DaysToDepartment.ToString() : order.OrderData.RangeDeliveryDays;

    string messageToShow = String.Format("{0} {1} {2} {3} {4}", CartAndOrders.MsgCreate1, order.OrderData.NumberIn1S, CartAndOrders.MsgCreate2, daysToShow, CartAndOrders.MsgCreate3);
    
    <div class="row text-center">
        <span class="glyphicon glyphicon-ok order-created" aria-hidden="true"></span><br>
        <!--<span class="order-created-text">@CartAndOrders.MsgCreate1  @order.OrderData.NumberIn1S  @CartAndOrders.MsgCreate2  @order.OrderData.DaysToDepartment  @CartAndOrders.MsgCreate3</span>-->
      
        @Html.ActionLink(messageToShow, "Details", "orders", new { guid = order.OrderData.Order_guid }, new { @class = "order-created-text" })

        @if(order.OrderData.IsDeliveryByTk )
        { 
            <p class="alert alert-danger lead">Внимание! По данному заказу Вам  необходимо оформить @Html.ActionLink("поручение на отправку", "DpdErrand", "orders", new { guid = order.OrderData.Order_guid },null)</p>
        }

    </div>
    <div class="row">
        <table class="data-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>@ForSearchResult.Photo</th>
                    <th class="product-name">@ForSearchResult.Name</th>
                    <th>@ForSearchResult.Available</th>
                    <th>@ForSearchResult.Price</th>
                    <th>@CartAndOrders.Total</th>
                </tr>
            </thead>
            @{int counter = 0; int Count = 0; }
            @foreach (var item in order.OrderDetails)
            {
                counter++;
                <tr id="row-@item.ProductId">
                    <td>
                        @counter
                    </td>
                    <td>
                        <img class="data-table-min-img" src="@Html.RemotePicture(item.ProductId)" />
                    </td>
                    <td>
                        @{item.ProductName = item.ProductName != "" ? item.ProductName : "---";}
                        @Html.ActionLink(item.ProductName, "Details", "Home", new { id = item.ProductId }, new { @class = "data-table-a-text" })
                    </td>
                    <td>
                        @{Count += item.Count;}
                        @item.Count
                        @Header.Pc
                    </td>
                    <td>
                      @Html.Price(item.PriceOfClient)
                    </td>
                    <td>
                        @Html.Price(item.PriceOfClient*item.Count)
                    </td>



                </tr>
            }
        </table>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span class="data-table-a-text">@CartAndOrders.ForWhom:</span><br>
                <span class="cart-sum-row-label">@order.OrderData.ContactFIOOfClient</span><br>
                <span class="cart-sum-row-label">@order.OrderData.PhoneNumberOfClient</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <span class="data-table-a-text">@CartAndOrders.Total:</span><br>
                @Html.Price(order.OrderData.TotalOfClient)
            </div>
        </div>
    </div>

}

@if (seasonOrder != null)
{

    <div class="row text-center">
        <span class="glyphicon glyphicon-ok order-created" aria-hidden="true"></span><br>
        @{string text= String.Format("{0} {1} {2}",SeasonOrdersTexts.MsgCreate1,seasonOrder.NumberIn1S,CartAndOrders.MsgCreate3); }
        @Html.ActionLink(text, "details", "seasonorders", new { guid = seasonOrder.OrderGuid }, new { @class = "order-created-text" })
        
        

    </div>


}