@using Term.Web.HtmlHelpers
@using Yst.ViewModels
@model  CargoTyresPodborView
@using Term.Web.Views.Resources;



@if (Model.DisplayView == Display.Table)
{
<section class="data-table products-list addon">
    <div class="thead hidden-xs row">

        <div class="col-sm-1">@ForSearchResult.Photo</div>
        <div class="col-sm-1">@ForSearchResult.StockNumber</div>
        <div class="col-sm-3 product-name">  @ForSearchResult.Name</div>
        <div class="col-sm-1">@ForSearchResult.Amount</div>

        <div class="col-sm-1">@ForSearchResult.DeliveryTime</div>
        <div class="col-sm-1">@ForSearchResult.Price</div>
        <div class="col-sm-2">@ForSearchResult.Available</div>
        <div class="col-sm-1">@ForSearchResult.Action</div>

    </div>
    @{int counter = @Model.SearchResults.FirstItemOnPage;}
    @foreach (var item in Model.SearchResults as IPagedList<TyreSearchResult>)
    {
    <div class="products-list-item row">
        <div class="col-sm-1 products-list-item__cell">
            <a class="fancybox-btn" href="@Html.FullPathToImage("tyre", item.PathToImage)" data-title="@item.Name"><img src="@Html.ThumbnailNew("tyre", item.PathToImage)" alt="@item.Name" class="min_img" onerror="this.onerror = null; this.src = @Defaults.UrlsInViews.NoImage;"></a>

        </div>
        <div class="col-sm-1 products-list-item__cell">
            @Html.DisplayFor(modelItem => item.ProductIdTo7Simbols)
        </div>
        <div class="col-sm-3 product-name products-list-item__cell">
            @Html.ActionLink(item.Name, "Details", new { id = item.ProductId }, new { @id = "ProductName-" + @item.ProductId, @class = "data-table-a-text" })
        </div>
        <div class="col-sm-1 products-list-item__cell">
            @{
        var restToDisplay = item.Rest >= 50 ? ">50" : item.Rest.ToString();
            }
                @restToDisplay
        </div>
        <div class="col-sm-1 products-list-item__cell">
            @Html.DisplayFor(modelItem => item.DaysToDepartment)
            @ForSearchResult.Days
        </div>
        <div class="col-sm-1 products-list-item__cell">
            @Html.Price3((decimal)(item.PriceOfClient ?? 0))
        </div>
        <div class="col-sm-2 products-list-item__cell">
            @Html.TextBox("DefaultNumberToOrder", @item.DefaultNumberToOrder, new { @id = "order-" + @item.ProductId, @class = "count_add_to_cart form-control touchspih-podbor-number", @type = "text", @min = 1, @max = 200 })
        </div>
        <div class="col-sm-1 products-list-item__cell">
            <a href="javascript:AddToCart(@item.ProductId,@item.DepartmentId,@item.SupplierId);" class="AddLink data-table-add-to-cart" data-id="@item.ProductId" data-name="@item.Name"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
            <a href="javascript:RemoveFromCart(@item.ProductId);" class="DelLink data-table-added-to-cart invisible" data-id="@item.ProductId" data-name="@item.Name"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
        </div>
    </div>
    }
</section>

}



@if (Model.DisplayView == Display.Plitka)
{
    <div class="data-view-pl">
        <div class="row">

            @foreach (var item in Model.SearchResults)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail view-pl-thumbnail">
                        <img class="img-thumbnail img-responsive data-part-min-img" src="@Html.FullPathToImage("tyre", item.PathToImage)" onerror="this.onerror = null; this.src = @Defaults.UrlsInViews.NoImage;">

                        <div class="caption">
                            @Html.ActionLink(item.Name, "Details", new { id = item.ProductId }, new { @class = "data-table-a-text view-pl-a-text" })
                            <hr />
                            @Html.Price((decimal)@item.PriceOfClient)
                            <p class="view-pl-text-caption">
                                @ForSearchResult.DeliveryTime: @Html.DisplayFor(modelItem => item.DaysToDepartment) @ForSearchResult.Days
                                @ForSearchResult.Amount: @Html.DisplayFor(modelItem => item.Rest) @Header.Pc
                            </p>
                        </div>
                        <div class="view-pl-hidden">
                            <div class="view-pl-hidden__content">
                                @Html.TextBox("DefaultNumberToOrder", @item.DefaultNumberToOrder, new { @id = "order-" + @item.ProductId, @class = "count_add_to_cart form-control touchspih-podbor-number", @type = "text", @min = 1, @max = 200 })
                                <a href="javascript:AddToCart(@item.ProductId,@item.DepartmentId);" class="AddLink data-view-pl-add-to-cart btn btn-default" data-id="@item.ProductId" data-name="@item.Name">@ForSearchResult.ToCart</a>
                                <a href="javascript:RemoveFromCart(@item.ProductId);" class="DelLink data-view-pl-add-to-cart invisible btn btn-default" data-id="@item.ProductId" data-name="@item.Name">@ForSearchResult.Added</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

}