@using Microsoft.AspNet.Identity
@using Term.Web.Views.Resources;
@{
    ViewBag.Title = @Header.MainPage;
}

@* {if (ViewBag.CountNewOrder != 0)
    {
        <a class="notifDiv" href="@Url.RouteUrl(new {@controller="orders",@action="list" })">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"> <span class="notifText">@Header.NewOrder (@ViewBag.CountNewOrder)</span></span>
        </a>
    }
    }*@

<input type="hidden" id="getPost">

@{var bs = new BaseService();}
@if (bs.CheckOnlySeasonOrder){ @Html.Partial("_OnlySeasonOrderMainPage");}else{ @Html.Partial("_MainPage");}

@if (ViewBag.NewsId != 0)
{
    <div id="news" class="hidden-xs" style="z-index: 1;
    width: 400px;
    position: fixed;
    top: 66%;
    right: 50px;
    ">
        <img style="width: 16px;
        float: right;
        padding-bottom: 2px;
        cursor: pointer;" id="close_news" data-newsid="@ViewBag.NewsId" src="~/Content/img/close.png" />
        <a href="@Url.Action("Details", "News",new { Id = ViewBag.NewsId})" class="icon-user">
            <img id="news_details" src='@Url.Action("GetNewsImg", "News", new { Id = ViewBag.NewsId, ImgType = 1 })' data-newsid="@ViewBag.NewsId" class="img-responsive" onerror="this.onerror = null; this.src = '/Content/img/catalog-no-image-small-box.png';" />
        </a>
    </div>
}


@section Scripts {

    <script>
      
        function AddNotifications(newsId) {

            $.post("/News/AddNotifications",
                    {
                        "Id": newsId
                    }
                );

        }

        $(document).on("click", "#close_news", function () {
            var newsId = $(this).attr("data-newsId");
            AddNotifications(newsId);
            $("#news").addClass("invisible");
        });

        $(document).on("click", "#news_details", function () {
            var newsId = $(this).attr("data-newsId");
            AddNotifications(newsId);
        }); 
    </script>
}