@model YstTerm.Models.OthersPodborView
@using Term.Web.Views.Resources;
@using YstProject.Services


@if (Model.OthersType == OthersProductType.Cams)
{
    ViewBag.Title = Header.OthersCams;
    <div class="row border-form-podbor">
        <span class="podbor-tyres-title">@Header.OthersCams (@Model.SearchResults.TotalItemCount)</span>
    </div>
}
else
{
    ViewBag.Title = Header.OthersBolts;
    <div class="row border-form-podbor">
        <span class="podbor-tyres-title">@Header.OthersBolts (@Model.SearchResults.TotalItemCount)</span>
    </div>
}



<div class="row m-b-20" style="height:42px;">
    <ul class="nav nav-pills">
        @foreach (var item in Model.ProductFolders)
        {
            var active = Model.Folder == item.ProductId ? "active" : "";
            <li class="@active">
                @Html.ActionLink(item.Name, "Others", "Home", new { @OthersType = Model.OthersType, @Folder = item.ProductId }, null)
            </li>
        }
    </ul>
</div>


@using (Html.BeginForm("Others", "Home", FormMethod.Get, new { @id = "Others", @data_name = "Others" }))
{
    <div class="row">
        @Html.Hidden("OthersType", Model.OthersType)
        @Html.Hidden("Folder", Model.Folder)
        <div class="col-xs-12 col-md-3 m-t-15">
            <div class="input-group">
                <input class="form-control" data-val="true" name="Name" placeholder="Код или наименование" type="text" value="@Model.Name">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 m-t-15">
            @Html.DropDownListFor(p => p.DepartmentId, new SelectList(Model.Departments, "DepartmentId", "Name", Defaults.MainDepartment), new { @class = "form-control" })
        </div>
        <div class="col-xs-12 col-md-3 m-t-15">
            @Html.DropDownListFor(p => p.Width, new SelectList(Model.Widths), @ForSearchResult.SizeOther_1, new { @class = "form-control" })
        </div>
        <div class="col-xs-12 col-md-3 m-t-15">
            @Html.DropDownListFor(p => p.Diametr, new SelectList(Model.Diametrs), @ForSearchResult.SizeOther_2, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12 col-md-2 m-t-15">
                @Html.BasicCheckBoxFor(p => p.FromRests, new { @class = "checkbox-form-podbor" })
                <label class="checkbox-form-podbor-label" for="FromRests">&nbsp;@ForSearchResult.FromStock</label>
            </div>
            <div class="col-xs-12 col-md-2 m-t-15">
                @Html.BasicCheckBoxFor(p => p.FromOnWay, new { @class = "checkbox-form-podbor" })
                <label class="checkbox-form-podbor-label" for="FromOnWay">&nbsp;@ForSearchResult.FromOnWay</label>
            </div>

    </div>
    <div class="row text-center border-form-podbor m-t-15">
        <button type="submit" class="form-podbor-btn-submit m-t-15">@ForSearchResult.ToSearch</button>
    </div>
}


<div>
    <section class="data-table products-list addon">
        <div class="thead hidden-xs row">
            <div class="col-sm-1">@ForSearchResult.StockNumber</div>
            <div class="col-sm-4 product-name">  @ForSearchResult.Name</div>
            <div class="col-sm-1">@ForSearchResult.Amount</div>

            <div class="col-sm-1">@ForSearchResult.DeliveryTime</div>
            <div class="col-sm-1">@ForSearchResult.Price</div>
            <div class="col-sm-2">@ForSearchResult.Available</div>
            <div class="col-sm-1">@ForSearchResult.Action</div>

        </div>
        @{int counter = @Model.SearchResults.FirstItemOnPage;}
        @foreach (var item in Model.SearchResults as IPagedList<SearchResult>)
    {
        <div class="products-list-item row">
            <div class="col-sm-1 products-list-item__cell">
                @item.ProductIdTo7Simbols
            </div>
            <div class="col-sm-4 product-name products-list-item__cell">
                @Html.ActionLink(item.Name, "Details", new { id = item.ProductId }, new { @id = "ProductName-" + @item.ProductId, @class = "data-table-a-text" })
            </div>
            <div class="col-sm-1 products-list-item__cell">
                @{
        var restMainStock = String.Format("{0}", item.Rest == 1000 ? ">1000" : item.Rest.ToString());
            @restMainStock

                }
            </div>
            <div class="col-sm-1 products-list-item__cell">
                @Html.DisplayFor(modelItem => item.DaysToDepartment) @ForSearchResult.Days
            </div>
            <div class="col-sm-1 products-list-item__cell">
                @Html.Price3((decimal)(item.Price ?? 0))
            </div>
            <div class="col-sm-2 products-list-item__cell">
                @Html.TextBox("DefaultNumberToOrder", 1, new { @id = "order-" + @item.ProductId, @class = "count_add_to_cart form-control touchspih-podbor-number", @type = "text", @min = 1, @max = 200 })
            </div>
            <div class="col-sm-1 products-list-item__cell">
                <a href="javascript:AddToCart(@item.ProductId,@item.DepartmentId,0);" class="AddLink data-table-add-to-cart" data-id="@item.ProductId" data-name="@item.Name"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                <a href="javascript:RemoveFromCart(@item.ProductId);" class="DelLink data-table-added-to-cart invisible" data-id="@item.ProductId" data-name="@item.Name"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
            </div>
        </div>
}
    </section>
</div>