@using Term.Web.HtmlHelpers
@using Yst.ViewModels
@using Term.DAL;
@model  SeasonDisksPodborView
@using Term.Web.Views.Resources;


<div>
    <table class="data-table">
        <thead>
            <tr>
                <th>№</th>
                <th>@ForSearchResult.Photo</th>
                <th class="p-l-25">@ForSearchResult.StockNumber</th>
                <th>@ForSearchResult.Name</th>
                <th>@ForSearchResult.Factory</th>
                <th>@ForSearchResult.Price</th>
                <th class="product-count">@ForSearchResult.Available</th>
                <th>@ForSearchResult.Action</th>
            </tr>
        </thead>
        <tbody>
            @{int counter = @Model.SearchResults.FirstItemOnPage;}
            @foreach (var item in Model.SearchResults as IPagedList<DiskSearchResult>)
            {
                int numbertoorder = item.DefaultNumberToOrder;
                if (Model.IsForeign)
                { numbertoorder = Model.WheelType == WheelType.Steel ? numbertoorder = 200 : 4; }

                <tr>
                    <td>
                        @(counter++)
                    </td>
                    <td>
                        <a class="fancybox-btn" href="@Html.FullPathToImage("disk", item.PathToImage)" data-title="@item.Name"><img src="@Html.ThumbnailNew("disk", item.PathToImage)" alt="@item.Name" class="min_img" onerror="this.onerror = null; this.src = '/content/img/no-photo.jpg';"></a>
                    </td>
                    <td class="p-l-25">
                        @Html.DisplayFor(modelItem => item.ProductIdTo7Simbols)
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Home", new {id = item.ProductId}, new {@id = "ProductName-" + @item.ProductId, @class = "data-table-a-text"})
                    </td>
                    
                    <td>@(((DiskSearchResult)item).Factory)</td>
                    <td>
                        @Html.Price(item.Price ?? 0)
                       
                    </td>

                    <td>
                        @Html.TextBox("DefaultNumberToOrder", @numbertoorder, new { @id = "order-" + @item.ProductId, @class = "count_add_to_seasoncart form-control touchspih-podbor-number", @type = "text", @min = @numbertoorder })

                    </td>

                    <td>
                        <a href="javascript:AddToSeasonCart(@item.ProductId);" class="AddLink data-table-add-to-cart" data-id="@item.ProductId" data-name="@item.Name"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                        <a href="javascript:RemoveFromCart(@item.ProductId);" class="DelLink data-table-added-to-cart invisible" data-id="@item.ProductId" data-name="@item.Name"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                    </td>


                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts
{
    <script src="~/Scripts/term-season-scripts.js"></script>

}