@model IEnumerable<ProductSeasonOrderAnalized>
@using Term.Web.Views.Resources
@using Term.DAL
@{
   // string numberIn1S = ViewBag.NumberIn1S;
    ViewBag.Title = String.Format("{0} № {1} {2}",SeasonOrdersTexts.AnalysisOfOrder,ViewBag.NumberIn1S,ViewBag.Orderdate);
    
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
<h1> @ViewBag.Title</h1>
<table class="table table-bill">
    <tr>
        <th>
            №
        </th>
        <th>
            @SeasonOrdersTexts.Code
        </th>
        <th>
            @SeasonOrdersTexts.ProductName
        </th>
        <th>
            @SeasonOrdersTexts.Quantity
        </th>
        <th>
            @SeasonOrdersTexts.InReserve
        </th>
        <th>
            @SeasonOrdersTexts.Shipped
        </th>
        <th>
            @SeasonOrdersTexts.RestToShip
        </th>
        <th>
            @SeasonOrdersTexts.QuantityOnWay
        </th>

    </tr>
    <tbody>
        @{int counter = 0;
        int Quantity = 0;
        int Reserve = 0;
        int QuantityFact = 0;
        int Rest = 0;
        }
        @foreach (var item in Model)
        {
            counter++;
            <tr data-id="@item.ProductId">
                <td>
                    @counter
                </td>
                <td class="Code">
                    @item.ProductId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @{Quantity += item.Quantity;}
                    @item.Quantity

                </td>
                <td class="Count">

                    @{Reserve += item.Reserve;}
                    @item.Reserve
                </td>

                <td>
                    @{QuantityFact += item.QuantityFact;}
                    @item.QuantityFact
                </td>
                <td>
                    @{Rest += item.Rest;}
                    @item.Rest
                </td>
                <td>
                    @if (item.QuantityOnWayToDisplay != "0")
                    {<span class="productonway-hint" data-id="@item.ProductId">
                        @item.QuantityOnWayToDisplay
                    </span>
                    }
                    else
                    {@item.QuantityOnWayToDisplay}





                </td>


            </tr>
        }
    </tbody>
</table>
    <script type="text/javascript">
        window.print();
    </script>
