@model SeasonOrderViewModel
@using Term.Web.Views.Resources;
@using Term.Utils;

@{
    
    ViewBag.Title = Model.FromOnWay? Header.OrdersFromArrivals : Header.SeasonOrders;
}

<h2 class="border-form-podbor search-order-title">@ForSearchResult.ChooseSeasonOrders</h2>
@using (Html.BeginForm("Index", "SeasonOrders", FormMethod.Get))
{
    <fieldset class="border-form-podbor">
        @Html.HiddenFor(model => model.FromOnWay)
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                @Html.LabelFor(p => p.BeginDate, new { @class = "search-order-label" })
                <div>
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.BeginDate, new { @class = "form-control" })
                        <span class="input-group-addon date-pick-btn">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                @Html.LabelFor(p => p.EndDate, new { @class = "search-order-label" })
                <div>
                    <div class="input-group date">
                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                        <span class="input-group-addon date-pick-btn">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <label class="search-order-label">@CartAndOrders.OrderNumber</label>
                <div>
                    @Html.TextBoxFor(p => p.OrderNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <label class="search-order-label">@CartAndOrders.Status</label>
                <div>
                    @Html.DropDownListFor(p => p.OrderStatus, Model.OrderStatuses, "Все", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 text-center search-order-btn">
                <button class="form-podbor-btn-submit" type="submit">@CartAndOrders.Filter</button>
            </div>
        </div>
    </fieldset>

    <div class="order-table-header-block m-t-15">

        <span class="order-table-header">@CartAndOrders.ListOfOrders</span>
        @Html.PagedListPager(Model.SeasonOrders, page => Url.Action("Index", new
   {
       page,
       BeginDate = Model.BeginDate.ValueForPaginator(),
       EndDate = Model.EndDate.ValueForPaginator(),
       StatusId = Model.OrderStatus
   }),
    new PagedListRenderOptions { LinkToFirstPageFormat = String.Format("<<"), LinkToPreviousPageFormat = String.Format("<"), LinkToNextPageFormat = String.Format(">"), LinkToLastPageFormat = String.Format(">>"), MaximumPageNumbersToDisplay = 9 })
    </div>

    <div>
        <div class="psevdo-select psevdo-select-dispos">
            <label for="ItemsPerPage">@ForSearchResult.PerPage:</label>
            @Html.DropDownListFor(p => p.ItemsPerPage, HtmlElements.ListItemsPerPage(200, 50), new { id = "ItemsPerPage", name = "ItemsPerPage", @class = "form-control" })
        </div>


    </div>
}
<div class="row">
    <div class="col-xs-12">
        <table class="data-table order-table">
            <thead>
                <tr class="bg_grey">
                    <th>
                        @CartAndOrders.DateOrder
                    </th>
                    @if (!(bool)ViewBag.IsForeign)
                    {
                        <th>
                            Крайняя дата дайствия
                        </th> }
                    <th>
                        @CartAndOrders.NumberInDatabase
                    </th>
                    <th>
                        @CartAndOrders.Status
                    </th>
                    <th>
                        @CartAndOrders.TotalSum
                    </th>

                    <th>
                        @CartAndOrders.Comment
                    </th>
                    <th>
                        @ForSearchResult.Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SeasonOrders)
                {
                    <tr data-href="@Url.Action("Details", new { guid = item.OrderGuid })">
                        <td>
                            @item.OrderDate.ToShortDateString()

                        </td>
                        @if (!(bool)ViewBag.IsForeign)
                        {
                            <td>
                                @item.DeliveryDate.ToShortDateFormat()

                            </td>
                        }
                        <td>
                            @item.NumberIn1S
                        </td>
                        <td>
                            @Html.OrderStatusWithColor(item.OrderStatus)
                        </td>
                        <td>
                            @item.Total
                        </td>

                        <td>
                            @item.Comments
                        </td>
                        <td>@Html.ActionLink(@CartAndOrders.Details, "Details", new { guid = item.OrderGuid })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
