@using Term.Web.Views.Resources;

@{
    ViewBag.Title = "ColorDefinition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Help.ColorDefinition</h2>

<ul>
    <li>B+R - @Help.BR</li>
    <li>B+W - @Help.BW</li>
    <li>B+W+RS - @Help.BWRS</li>
    <li>B+W+WSI - @Help.BWWSI</li>
    <li>BK - @Help.BK</li>
    <li>BK+BL - @Help.BKBL</li>
    <li>BK+plastic - @Help.BKplastic</li>
    <li>BK+R - @Help.BKR</li>
    <li>BK+Y - @Help.BKY</li>
    <li>BKBSI - @Help.BKBSI</li>
    <li>BKF/FBKF/BKFP - @Help.BKFFBKFBKFP</li>
    <li>BKF+plastic - @Help.BKFplastic</li>
    <li>BKF+PU - @Help.BKFPU</li>
    <li>BKF+R - @Help.BKFR</li>
    <li>BKFBSI - @Help.BKFBSI</li>
    <li>BKFL - @Help.BKFL</li>
    <li>BKFPL - @Help.BKFPL</li>
    <li>BKFPSI/BKFRSI - @Help.BKFPSIBKFRSI</li>
    <li>BKFRS - @Help.BKFRS</li>
    <li>BKFRSI - @Help.BKFRSI</li>
    <li>BKFWSI - @Help.BKFWSI</li>
    <li>BKFYSI - @Help.BKFYSI</li>
    <li>BKPL - @Help.BKPL</li>
    <li>BKPRS - @Help.BKPRS</li>
    <li>BKPS - @Help.BKPS</li>
    <li>BKRS - @Help.BKRS</li>
    <li>BKRSI - @Help.BKRSI</li>
    <li>BKWS - @Help.BKWS</li>
    <li>BKYS - @Help.BKYS</li>
    <li>BLACK - @Help.BLACK</li>
    <li>BLF - @Help.BLF</li>
    <li>CHROME - @Help.CHROME</li>
    <li>DBF - @Help.DBF</li>
    <li>GM - @Help.GM</li>
    <li>GM+B - @Help.GMB</li>
    <li>GM+CH - @Help.GMCH</li>
    <li>GM+plastic - @Help.GMplastic</li>
    <li>GMBSI - @Help.GMBSI</li>
    <li>GMF/FGMF/GMFP - @Help.GMFFGMFGMFP</li>
    <li>GMF+plastic - @Help.GMFplastic</li>
    <li>GMPL - @Help.GMPL</li>
    <li>GMPS - @Help.GMPS</li>
    <li>GMRS - @Help.GMRS</li>
    <li>GMRSI - @Help.GMRSI</li>
    <li>GMWSI - @Help.GMWSI</li>
    <li>HS - @Help.HS</li>
    <li>MB - @Help.MB</li>
    <li>MB+BL - @Help.MBBL</li>
    <li>MB+R - @Help.MBR</li>
    <li>MB+RM - @Help.MBRM</li>
    <li>MB+SSL - @Help.MBSSL</li>
    <li>MB+WHITE INSERT - @Help.MBWHITEINSERT</li>
    <li>MB+Y - @Help.MBY</li>
    <li>MBF/MBFL/MBFP - @Help.MBFMBFLMBFP</li>
    <li>MBF+R - @Help.MBFR</li>
    <li>MBFRS - @Help.MBFRS</li>
    <li>MBFRSI - @Help.MBFRSI</li>
    <li>MBMF - @Help.MBMF</li>
    <li>MBOGS - @Help.MBOGS</li>
    <li>MBPL - @Help.MBPL</li>
    <li>MBPS - @Help.MBPS</li>
    <li>MBR+RM - @Help.MBRRM</li>
    <li>MBRS - @Help.MBRS</li>
    <li>MBRSI - @Help.MBRSI</li>
    <li>MBWSI - @Help.MBWSI</li>
    <li>MBYS - @Help.MBYS</li>
    <li>MBYSI+Y - @Help.MBYSIY</li>
    <li>MGM - @Help.MGM</li>
    <li>MGM+Y - @Help.MGMY</li>
    <li>MGMBSI - @Help.MGMBSI</li>
    <li>MGMF - @Help.MGMF</li>
    <li>MW - @Help.MW</li>
    <li>MWPL - @Help.MWPL</li>
    <li>MWRSI - @Help.MWRSI</li>
    <li>R+B+F - @Help.RBF</li>
    <li>S - @Help.S</li>
    <li>S+B - @Help.SB</li>
    <li>S+CH - @Help.SCH</li>
    <li>S+plastic - @Help.Splastic</li>
    <li>S+PLASTIC+RS - @Help.SPLASTICRS</li>
    <li>SF/FSF/SFP - @Help.SFFSFSFP</li>
    <li>SF+B - @Help.SFB</li>
    <li>SILVER - @Help.SILVER</li>
    <li>SPL - @Help.SPL</li>
    <li>SRS - @Help.SRS</li>
    <li>W - @Help.W</li>
    <li>W+B - @Help.WB</li>
    <li>W+B+BSI - @Help.WBBSI</li>
    <li>W+B+RS - @Help.WBRS</li>
    <li>W+B+RS+BSI - @Help.WBRSBSI</li>
    <li>W+B+WS - @Help.WBWS</li>
    <li>W+BL - @Help.WBL</li>
    <li>W+BLACK INSERT - @Help.WBLACKINSERT</li>
    <li>W+R - @Help.WR</li>
    <li>W+RS - @Help.WRS</li>
    <li>WBS - @Help.WBS</li>
    <li>WBSI - @Help.WBSI</li>
    <li>WF - @Help.WF</li>
    <li>WFPL - @Help.WFPL</li>
    <li>WFRSI - @Help.WFRSI</li>
    <li>WHITE - @Help.WHITE</li>
    <li>WRS - @Help.WREDS</li>
</ul>
