@using Term.Web.Views.Resources;
@using YstProject.Services

@{
    ViewBag.Title = @Header.Download;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>@Header.Download EXCEL</h2>
<div class="row">
   
@if (new ServicePartnerPoint().IsPartner)
{
    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/excel.png"/>
            <div class="caption">
                <p class="text-center"><a href=@ViewBag.urlPriceAllDep class="btn btn-primary" role="button">Прайс-лист по всем складам</a>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
            <img src="~/Content/img/excel.png" />
            <div class="caption">
                <p class="text-center"><a href=@ViewBag.urlPrice class="btn btn-primary" role="button">@Header.Pricelist</a></p>
            </div>
        </div>
    </div>
}
    
</div>


@if (new ServicePartnerPoint().IsPartner)
{
    <h2>@Header.Download XML</h2>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/xml.png" />
                <div class="caption">
                    <p class="text-center"><a href=@ViewBag.urlTyre class="btn btn-primary" role="button">@Header.Tyres (все остатки)</a></p>
                    <p class="text-center"><a href=@ViewBag.urlTyreOnlyYst class="btn btn-primary" role="button">@Header.Tyres (без сторонних)</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/xml.png" />
                <div class="caption">
                    <p class="text-center"><a href=@ViewBag.urlDisk class="btn btn-primary" role="button">@Header.Wheels</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/xml.png" />
                <div class="caption">
                    <p class="text-center"><a href=@ViewBag.urlAkb class="btn btn-primary" role="button">@Header.CarBatteries</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
                <img src="~/Content/img/xml.png" />
                <div class="caption">
                    <p class="text-center"><a href=@ViewBag.urlAcc class="btn btn-primary" role="button">@Header.Accessories</a></p>
                </div>
            </div>
        </div>
    </div>
}