@using Term.Web.Views.Resources;
@using YstProject.Services

@{
    ViewBag.Title = @Header.Download;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="data-table order-table">
    <thead>
        <tr>
            <th>Тип файла</th>
            <th>Вид товара</th>
            <th>Ссылка</th>
        </tr>
    </thead>
    <tr>
        <td><img style="width:40px;" src="~/Content/img/excel.png" /></td>
        <td>Все группы товаров</td>
        @if (new ServicePartnerPoint().IsPartner)
        {
            <td><a href=@ViewBag.urlPriceAllDep>@ViewBag.urlPriceAllDep</a></td>
        }
        else
        {
            <td><a href=@ViewBag.urlPrice>@ViewBag.urlPrice</a></td>
        }
    </tr>
    @if (new ServicePartnerPoint().IsPartner)
    {
        <tr>
            <td><img style="width:40px;" src="~/Content/img/xml.png" /></td>
            <td>Шины (все остатки)</td>
            <td><a href=@ViewBag.urlTyre>@ViewBag.urlTyre</a></td>
        </tr>
        <tr>
            <td><img style="width:40px;" src="~/Content/img/xml.png" /></td>
            <td>Шины (без сторонних)</td>
            <td><a href=@ViewBag.urlTyreOnlyYst>@ViewBag.urlTyreOnlyYst</a></td>
        </tr>
        <tr>
            <td><img style="width:40px;" src="~/Content/img/xml.png" /></td>
            <td>Диски</td>
            <td><a href=@ViewBag.urlDisk>@ViewBag.urlDisk</a></td>
        </tr>
        <tr>
            <td><img style="width:40px;" src="~/Content/img/xml.png" /></td>
            <td>Аккумуляторы</td>
            <td><a href=@ViewBag.urlAkb>@ViewBag.urlAkb</a></td>
        </tr>
        <tr>
            <td><img style="width:40px;" src="~/Content/img/xml.png" /></td>
            <td>Аксессуары</td>
            <td><a href=@ViewBag.urlAcc>@ViewBag.urlAcc</a></td>
        </tr>
    }
</table>



